.App {
  text-align: center;
  
  
  color: #fff; /* Text color */
  padding: 10px 20px; /* Padding around the navbar */
  
}





.App-header {
  
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
body {
  margin: 0;
  padding: 0;
  background-size: cover; /* Ensure the background image covers the entire area */
background-image: url("https://st2.depositphotos.com/1743476/10275/i/450/depositphotos_102755400-Business-background-desk.jpg");
}



